.searchCard{
    align-self: center;
    width: 500px;
    height: 480px;
}

.resultImage{
    width: 300px;
    height: 300px;
    align-self: center;
}

.cardContent{
    display:flex;
    flex-direction: column;
}

@media screen and (max-width: 640px){
    .searchCard{
        width: 300px;
    }
}
